@use './components/button';
@use './components/course-card';


.course-section{

  .course-section__header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px;
    .course-section__eyebrow{
      font-weight: bold;
      font-size: 2em;
    }
    .course-section__title{
      margin-top: 10px;
      font-size: 1.3em;
    }
    .course-section__description{
      margin-top: 10px;
    }
  }
}