$gradient-red-to-blue: linear-gradient(#e66465, #9198e5);

$color-primary: #2563eb;
$color-text: #111827;
$color-muted: #6b7280;
$color-background: #f8fafc;
$color-mild_purple_blue:#6d77e6;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$radius-md: 8px;
$radius-lg: 16px;